:root {
    --my-font: OpenSans, sans-serif;
}

@font-face {
    src: url(./OpenSans_Condensed-Regular.ttf);
    font-family: OpenSans;   
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--my-font);
    }

html {
    font-size: 62.5%;
}

*::selection {
    color: rgb(89, 225, 71);
    background-color: hsl(0, 0%, 21%);
}

body {
    min-height: 100vh;
    line-height: 1.3;
    font-size: 1.75rem;
    /* Sets background image */
    background-image: url(./Devils\ Tower.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header, footer {
    background-color: peachpuff;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    top: 0;
    z-index: 999;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: black;
    font-weight: bold;
    padding: .5% .5%;
    text-decoration: none;
    font-size: 105%;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

#title-format {
    font-size: 180%;
    color: black;
    align-items: center;
    text-align: center;
    /* Adds shadow to my title text */
    text-shadow: 3px 3px 25px purple, -3px -3px 5px rgb(30, 255, 0);
}

.content {
    display: flex;
    flex-flow: row wrap;
    width: 75%;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: whitesmoke;
    outline: 2px solid magenta;
    outline-offset: -2px;
    transition: all .5s ease-in-out;

}

span {
    content: "\00A9";
  }


img {
    border-radius: 5%;
    max-height: 100%;
    background-color: rgb(55, 94, 167);
    box-shadow: 3px 3px 5px;
}

.float-left {
    float: left;
    margin-right: 1%;
}

.float-right {
    float: right;
    margin-left: 1%;
}

/* Add effect on hover for links */

a:hover {
    color: brown;
}

a:active {
    
}

a:visited {
}

@media screen and (min-width: 768px) {
    .card-column {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .card-column:last-child {
        flex-grow: 1;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }

    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}