:root {
    --magenta: rgb(204, 51, 204);
    --slateGray: #33393f;
    --turquoise: #2aefcb;
    --gin: #e0eae4;  
}


*::selection {
    color: rgb(89, 225, 71);
    background-color: hsl(0, 0%, 21%);
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--slateGray);
    color: var(--gin);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    /* Sets background image 
    background-image: url(./Devils\ Tower.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.625rem;
    color: var(--magenta);
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

header h1.page-title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-width: 300px;
}

a {
    color: black;
    font-weight: bold;
    padding: .5% .5%;
    text-decoration: none;
    font-size: 105%;
}

main {
    width: 96%;
    margin: 2rem auto;
}

footer {
    margin: 1.5rem;
    text-align: center;
}

/* might not be needed */
.content {
    display: flex;
    flex-flow: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.box-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--magenta);
    outline: 2px solid var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

.box-card .card-header {
    position: relative;
    padding: .5rem 1rem;
    background-color: var(--slateGray);
    color: var(--magenta);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all .5s ease-in-out;
    text-align: center;
}

.box-card:hover, 
.box-card:hover .card-header {
    box-shadow: inset 0px 0px 8px var(--magenta), 0 0 15px var(--magenta);
}

.box-card .code-block {
    flex-grow: 1;
}

#title-format {
    font-size: 180%;
    color: black;
    align-items: center;
    text-align: center;
    /* Adds shadow to my title text */
    text-shadow: 3px 3px 25px purple, -3px -3px 5px rgb(30, 255, 0);
}

.float-left {
    float: left;
    margin-right: 1%;
}

.float-right {
    float: right;
    margin-left: 1%;
}

img {
    border-radius: 5%;
    max-height: 100%;
    background-color: rgb(55, 94, 167);
    box-shadow: 3px 3px 5px;
}

a:hover {
    color: brown;
}

@media screen and (min-width: 768px) {
    .card-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card-column:last-child {
        flex-grow: 1;
    }
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }
    .card-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}