* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    position: relative;
    font-size: 20px;

}

h1, h2{
    margin: 20px;
}

main {
    padding: auto;
}

header, footer {
    background-color: rgb(37, 68, 49);
    color: rgb(223, 202, 20);
    height: 60px;
    width: 100%;
    line-height: 60px;   
}

header {
    position: fixed;
    border-bottom: 10px solid black;
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid black;
}

img {
    display: block;
    margin: 20px auto;
}

label {
    display: inline-block;
    width: 100px;   
}

input, textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid orange;
}

textarea {
    vertical-align: top;
    height: 60px;
}

button {
    height: 40px;
    width: 120px;
    background-color: darkslategray;
    color: white;
}

.text-center {
    text-align: center;
}